<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>경북대학교 17기 KDT</title>
    <style type="text/tailwindcss">
      @theme {
        --font-sans: "Noto Sans KR", sans-serif;
      }
    </style>
  </head>
  <body>
    <header class="w-full h-20 bg-blue-100 flex justify-center">
      <div class="w-[900px] h-full flex justify-between items-center">
        <a href="/"> <div>로고</div> </a>
        <div class="flex gap-4 font-bold text-purple-700 text-xl">
          <div>회사소개</div>
          <div>커리큘럼</div>
          <div>블로그</div>
          <div>커뮤니티</div>
          <div>컨택어스</div>
          <a href="/signup">
            <div>회원가입</div>
          </a>
        </div>
      </div>
    </header>
    {% block content %} {% endblock%}
  </body>
</html>
